.qmake.cache
.qmake.stash
.qmake.super
config.status
config.summary
config.log
qt/qtbase/include/QtCore/QtConfig
qt/qtbase/include/QtCore/qconfig.h
qt/qtbase/include/QtCore/qfeatures.h
qt/qtbase/lib/cmake/
qt/qtbase/lib/pkgconfig/
qt/qtbase/mkspecs/modules-inst/
qt/qtbase/mkspecs/modules/qt_lib_*.pri
qt/qtbase/mkspecs/modules/qt_tool_*.pri
qt/qtbase/mkspecs/qconfig.pri
qt/qtbase/mkspecs/qdevice.pri
qt/qtbase/mkspecs/qfeatures.pri
qt/qtbase/mkspecs/qmodule.pri
qt/qtbase/plugins/
qt/qtbase/src/corelib/global/qconfig.cpp
qt/qtbase/src/corelib/global/qconfig.h
qt/qtbase/src/corelib/global/qfeatures.h
qt/qt*/lib/
qt/qt*/mkspecs/
qt/qt*/plugins/
qt/qt*/qml/
qt/qtdeclarative/src/imports/dialogs/dialogs.qrc
qt/qtdeclarative/src/qml/RegExpJitTables.h
qt/qtdeclarative/tools/qmleasing/qmleasing
qt/qtquick1/imports/
qt/qtquickcontrols/src/controls/controls.qrc
qt/qtwebkit/Source/include/
qt/qtwebkit/Tools/qmake/mkspecs/modules-inst/
qt/qtwebkit/Tools/qmake/mkspecs/modules/qt_lib_webkit.pri
qt/qtwebkit/Tools/qmake/mkspecs/modules/qt_lib_webkitwidgets.pri
qt/qtwebkit/imports/
.moc/
.obj/
.rcc/
.uic/
.pch/
debug/
generated/
release/
config.tests/
bin/
Makefile*
*.qm
*.o
*.la
*.a
*.prl
*.pyc
*.framework/
*Depends